html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

    /* Let card rotate Y 180 in the first */
    transform: rotateY(180deg);
}

.deck .card.open {
    /* Then rotate them back when user click */
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    
    transition: transform 400ms /*ease-in-out*/;
    /* transform-style: preserve-3d; */
}

.deck .card.show {
    font-size: 33px;
 }

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;

    animation: bounceIn 300ms;
}

.deck .card.not-match {
    background: #d64d23;
    animation: shaking 300ms;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.4);
      opacity: 0.6;
    }
    30% {
        transform: scale(1.1);
        opacity: 0.6;
    }
    /* 70% {
      transform: scale(0.7);
      opacity: 1;
    } */
    100% {
      transform: scale(1);
    }
}

@keyframes shaking {
    0% {
        transform: rotateZ(-30deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(0);
        opacity: 0.6;
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for modal dialog
 */
 .modal-bk {
     display: none;

     width: 100%;
     height: 100%;
     position: fixed;
     background: rgba(46, 61, 73, 0.5);
     top: 0;
     left: 0;
 }

 .modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 0;
    border: 1px solid #888;
    width: 60%;
 }

 .modal-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #2e3d49;
    align-items: baseline;
    padding: 0 25px;
 }

 .modal-close {
     font-size: 2rem;
     padding: 0 15px;
 }

 .modal-close:hover {
     cursor: pointer;
     background: #95edf3;
     color: white;
     padding: 0 15px;
}

 .modal-content {
     padding: 0 25px;
 }

 .btn-play {
    padding: 10px;
    font-size: 1rem;
 }